/* Show it is fixed to the top */
.App { 
  padding-top: 3rem;
}
.navbar-with-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ปรับแต่งเงาตามที่คุณต้องการ */
}
.bg-dark,.bg-light {  
  transition: all 0.7s ;
}
 